<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.example.core.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <service
            android:name=".servicedemo.MyForwardService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".servicedemo.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".servicedemo.MyIntentService"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name=".contentProviderdemo.MyContentProvider"
            android:authorities="com.example.hencoder.provider"
            android:enabled="true"
            android:exported="true" />
        <!--
 <provider
            android:authorities="com.example.hencoder.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATH"
                android:resource="@xml/file_paths"/>
        </provider>
        -->
        <activity android:name=".WeatherActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ThirdActivity">
            <intent-filter>
                <action android:name="com.example.app.activity.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.activity.MY_CATEGORY" />
            </intent-filter>
        </activity>

        <activity android:name=".materialdemo.ToolBarDemo"
            android:label="toolbar"
            android:theme="@style/AppThemeNoActionBar"/>
    </application>

</manifest>